@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Mulish:wght@200;300&family=Whisper&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
    background-color: #5621b7;
  padding: 12px 25px;
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);

}
.navbar {
  color: white;

  gap: 780px;
}


.ul-box ul {
  list-style-type: none;
  gap: 20px;
  font-size: 18px;
}
.ul-box ul li{
    border-bottom: 1.7px solid #5621b7;
    line-height: 1.5;
}
.ul-box ul li a{
    text-decoration: none;
    color: white;
}
.ul-box ul li:hover{
    border-bottom: 1.7px solid white;
    line-height: 1.5;
    transition: 0.5s ease-in;
    cursor: pointer;
}

.nav-h2 h2 {
  font-size: 29px;
  font-weight: 100;
  font-family: fantasy;
}
.home {
  width: 100%;
  height: 91.4vh;
  color: white;
  background: url(bg3.avif) no-repeat center center/cover;
  scroll-margin: 60px;
}
.home h1 {
  font-size: 75px;
  font-family: Arial, Helvetica, sans-serif;
}
.home p:nth-child(2) {
  font-size: 25px;
  margin-bottom: 18px;
}
.home p:nth-child(3) {
  font-size: 15px;
}
.home-container {
  width: 800px;
  text-align: center;
}
.home h1 {
  margin-bottom: 20px;
}
.music-section {
  width: 100%;
  height: 500px;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  background-color: #281154;
  color: white;
  box-sizing: border-box;
  padding: 46px 350px;
  justify-content: flex-start;
  margin-bottom: 600px;
  scroll-margin: 50px;
}
.music-section h2 {
  font-size: 32px;
}
.music-section span {
  margin-right: 15px;
}
.music-section h3 {
  margin-bottom: 15px;
}
.music-section tag {
  background-color: red;
  padding: 14px 10px;
}
.music-section tag:hover{
    background-color: rgb(227, 6, 6);

  
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
.music-section p {
  opacity: 0.7;
  font-size: 13px;
  margin-bottom: 10px;
}
.tv-shows {
  height: 600px;
  flex-direction: column;
  justify-content: start;
  padding: 19px 277px;
  text-align: center;
  margin-bottom: 145px;
}
.tv-shows h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 18px;
}
.tv-shows button {
  background-color: #37008e;
  border: 0px;
  padding: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 33px;
}
.crowd {
    height: 731px;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    padding: 132px 328px;
    text-align: center;
    color: white;
    margin-bottom: 100px;
    scroll-margin: -80px;
}

.crowd::before {
  content: "";
  position: absolute;
  height: 699px;
  width: 100%;

  z-index: -1;
  background: url(crowd4.jpg) no-repeat center center/cover;

  filter: brightness(0.8);
}
.crowd h2 {
    margin-bottom: 35px;
    margin-top: 92px;
}
.gift-card{
    width: 100%;
    height: 450px;
    gap: 80px;
    scroll-margin: 58px;
    box-sizing: border-box;

}
.gift-card button{
    background-color: #37008e;
    border: 0px;
    padding: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 28px 0px;
}
.gift-text{
    flex-direction: column;
    align-items: start;
    width: 500px;
    text-align: justify;
}
.gift-text h2{
    font-family: Arial, Helvetica, sans-serif;

}
.gift-text p{
    font-size: 15px;
}
#para2{
    border-bottom: 1px solid #0000004d;
    line-height: 2.7;
}
footer{
    background: #1b0058;
    width: 100%;
    height: 298px;
    color: white;
    gap: 113px;
}
.list-item ul{
    list-style-type: none;
    line-height: 1.7;
}
.list-item h3{
    /* text-decoration: underline; */
    border-bottom: 2px solid white;
    margin-bottom: 15px;
    line-height: 1.7;
}
.copyright{
    padding: 10px ;
    background-color: #270082;
    color: white;
    text-align: center;
    font-size: 12px;
}
button:hover{
    cursor: pointer;
    background-color: #460ccd;
    transition: 0.6s ease-in-out;
}
@media (max-width:1298px) {
  .navbar{
    gap: 50%;
  }
}
@media (max-width:1055px){
  .music-image img{
    width: 650px;
  }
  .crowd,.tv-shows,.gift-card,.music-section,footer{
    padding: 52px 159px;
  }
  .tvShows-image img{
    width: 735px;
  }
  .crowd{
    margin-bottom: 45px;
  }
  .gift-card{
    padding: 4px 0px;
    height: 365px;
  }
  .gift-image img{
    width: 325px;
  }
  footer{
    padding: 5px;
    box-sizing: border-box;
  }
}
@media (max-width:966px){
  .navbar{
    gap: 20%;
  }
  .music-section h2{
    margin-top: 20px;
  }
  .tvShows-image img{
    width: 550px;
  }
  .gift-image img{
    width: 225px;
  }
  .gift-card{
    flex-direction: column;
    gap: 20px;
    height: auto;
  }
  .gift-text{
    width: 311px;
  }
  footer{
  
    gap: 35px;
    height: auto;
  }
}

@media (max-width:662px){
  nav{
    position: static;
  }
  .navbar{
    gap: 18px;
    flex-direction: column;
  }
  .ul-box ul{
    flex-direction: column;
  }
  .home h1 {
    font-size: 30px;
    
  }
  .home p:nth-child(2){
    font-size: 10px;
  }
  .home p:nth-child(3){
    font-size: 11px;
  }
  
  .music-image img{
    width: 350px;
  }
  .tvShows-image img{
    width: 350px;
  }
  .music-section{
    margin-bottom: 220px;
  
  }
  .tv-shows{
    margin-bottom: -10px;
  }
  .crowd,.tv-shows,.gift-card,.music-section{
    padding: 5px 60px;
    box-sizing: border-box;
    font-size: 12px;
  }

  footer{
    gap: 10px;
    text-align: center;
    padding: 9px 12px;
    align-items: start;
  }
  footer{
     
    flex-direction: column;
    text-align: center;
    padding: 30px 0px;
}
}
@media(max-width:388px){
  .home h1 {
    font-size: 30px;
    
  }
  .home p:nth-child(2){
    font-size: 10px;
  }
  .home p:nth-child(3){
    font-size: 11px;
  }
  .music-section h2{
    margin-top: 20px;
  }
  .home{
    padding: 20px;
    box-sizing: border-box;
  }
  .music-section h2 {
    font-size: 19px;
  }
  .music-section span {
    margin-right: 12px;
  }
  .music-section h3 {
    margin-bottom: 4px;
    font-size: 14px;
  }
  .music-section tag{
    font-size: 12px;
  }
  .music-section h4 {
    font-size: 10px;
  }
  .tvShows-image img,.music-image img{
    width: 370px;
  }
  footer{
     
      flex-direction: column;
      text-align: center;
      padding: 30px 0px;
  }
  .crowd,.tv-shows,.gift-card,.music-section{
    padding: 5px 60px;
    box-sizing: border-box;
    font-size: 12px;
  }
  p{
    font-size: 12px;
  }
  .music-section{
    margin-bottom: 240px;
  }
  .tv-shows{
    margin-bottom: -20px;
  }
  .gift-text p{
    font-size: 12px;
  }
  button{
    font-size: 10px;
  }
}

@media(max-width:378px){
  .tvShows-image img,.music-image img{
    width: 250px;
  }
  .gift-text{
    width: 200px;
  }
}
@media(max-width:270px){
  .tvShows-image img,.music-image img,.gift-image img{
    width: 250px;
  }
  .gift-image img{
    width: 220px;
  }
}